body {
    background: url(pro.png) no-repeat center center fixed;
    background-size: cover;
}

#img_logo {
	max-width: 100px;
	max-height: 100px;
	margin: 0 auto;
}

#login-modal .modal-dialog {
	width: 350px;
}

#login-modal input[type="text"], input[type="password"] {
	margin-top: 10px;
}